# <div style="text-align:center"> DS7333 - Case Study 4 | Cherry Blossom Run</div>
### <div style="text-align:center">Andy Ho, An Nguyen, Jodi Pafford</div>
<div style="text-align:center">June 3, 2019</div>

## 1 Introduction

This case study will answer Question 7 in Chapter 2 of "Data Science in R: A Case Studies Approach to Computational REasoning and Problem Solving" (Nolan and Lang). 

Question 7 is: "Follow the approach developed in Section 2.2 to read the files for the female runners and then process them using the functions in Section 2.3 to create a data frame for analysis. You may need to generalize the createDF() and extractVariables() functions to handle additional oddities in the raw text files."

The data was extracted, cleaned, reformatted and prepared for analysis. Once the data was prepared, we performed some initial analysis to prepare for future work.

## 2 Background

The Cherry Blossom Race occurs every spring in Washington, D.C. The race consists of a 10 Mile Run, 5K Run-Walk, and Kids' Run. Searchable race results are available from 1973-2018, however races since 1999 are available for download. This case study will explore results data from the 1999 through 2012 races for female runners. Data was scraped from the race website, www.cherryblossom.org.

## 3 Methods

As described in Chapter 2 of Nolan and Lang, the data files needed to be cleaned before processing, however the first step was obtaining the files from the website. Using 2.2 as our guide, we read the tables of the race results into R. Upon intial investigation it was noted that many of the race result files had slightly different formats. Some race results also contained more columns of data than others.

After all data was successfully pulled from the website, the next step was to clean and reformat the data. Following that, all data was combined into one large file with all race data.

The last step was to perform some basic exploritory data analysis in order to ensure that all data was pulled successfully and to investigate next steps.

## 4 Results

## An, can you add the code for the first two steps (2.2 is 1, and 2.3 is 2). I will add some of my EDA as 3.

In [25]:
### Step 1 (2.2) - Reading Tables of Race Results into R

urlsMen = paste(ubase, menURLs, sep = "")
urlsWomen = paste(ubase, womenURLs, sep = "")

print("The urls for the men's race results are:")
for (i in 1:14){
    print(paste(urlsMen[i], " with ", length(menTables[[i]]), " entries from ", names(menTables[i]), ".", sep=""))
}
print("")
print("The urls for the women's race results are:")
for (i in 1:14){
    print(paste(urlsWomen[i], " with ", length(womenTables[[i]]), " entries from ", names(menTables[i]), ".", sep=""))
}

[1] "The urls for the men's race results are:"
[1] "http://www.cherryblossom.org/results/1999/cb99m.html with 3193 entries from 1999."
[1] "http://www.cherryblossom.org/results/2000/Cb003m.htm with 3019 entries from 2000."
[1] "http://www.cherryblossom.org/results/2001/oof_m.html with 3627 entries from 2001."
[1] "http://www.cherryblossom.org/results/2002/oofm.htm with 3727 entries from 2002."
[1] "http://www.cherryblossom.org/results/2003/CB03-M.HTM with 3951 entries from 2003."
[1] "http://www.cherryblossom.org/results/2004/men.htm with 4164 entries from 2004."
[1] "http://www.cherryblossom.org/results/2005/CB05-M.htm with 4335 entries from 2005."
[1] "http://www.cherryblossom.org/results/2006/men.htm with 5245 entries from 2006."
[1] "http://www.cherryblossom.org/results/2007/men.htm with 5283 entries from 2007."
[1] "http://www.cherryblossom.org/results/2008/men.htm with 5913 entries from 2008."
[1] "http://www.cherryblossom.org/results/2009/09cucb-M.htm with 6659 entries from 2009."
[1] "http://www.cherryblossom.org/results/2010/2010cucb10m-m.htm with 6919 entries from 2010."
[1] "http://www.cherryblossom.org/results/2011/2011cucb10m-m.htm with 7019 entries from 2011."
[1] "http://www.cherryblossom.org/results/2012/2012cucb10m-m.htm with 7201 entries from 2012."
[1] ""
[1] "The urls for the women's race results are:"
[1] "http://www.cherryblossom.org/results/1999/cb99f.html with 2359 entries from 1999."
[1] "http://www.cherryblossom.org/results/2000/Cb003f.htm with 2169 entries from 2000."
[1] "http://www.cherryblossom.org/results/2001/oof_f.html with 2976 entries from 2001."
[1] "http://www.cherryblossom.org/results/2002/ooff.htm with 3338 entries from 2002."
[1] "http://www.cherryblossom.org/results/2003/CB03-F.HTM with 3547 entries from 2003."
[1] "http://www.cherryblossom.org/results/2004/women.htm with 3907 entries from 2004."
[1] "http://www.cherryblossom.org/results/2005/CB05-F.htm with 4342 entries from 2005."
[1] "http://www.cherryblossom.org/results/2006/women.htm with 5445 entries from 2006."
[1] "http://www.cherryblossom.org/results/2007/women.htm with 5699 entries from 2007."
[1] "http://www.cherryblossom.org/results/2008/women.htm with 6405 entries from 2008."
[1] "http://www.cherryblossom.org/results/2009/09cucb-F.htm with 8333 entries from 2009."
[1] "http://www.cherryblossom.org/results/2010/2010cucb10m-f.htm with 8863 entries from 2010."
[1] "http://www.cherryblossom.org/results/2011/2011cucb10m-f.htm with 9038 entries from 2011."
[1] "http://www.cherryblossom.org/results/2012/2012cucb10m-f.htm with 9738 entries from 2012."

In [56]:
### Step 2 (2.3) - Data Cleaning and Reformatting Variable
for (y in 1999:2012){
    print(paste(y, " Men (", nrow(cbMen[(cbMen$year==y),]), " entries):", sep=""))
    print(summary(cbMen[(cbMen$year==y),5:6]))
    print(paste(y, " Women (", nrow(cbWomen[(cbWomen$year==y),]), " entries):", sep=""))
    print(summary(cbWomen[(cbWomen$year==y),5:6]))
}

[1] "1999 Men (3190 entries):"
      age           runTime
 Min.   :11.00   Min.   : 46.98
 1st Qu.:32.00   1st Qu.: 74.80
 Median :40.00   Median : 84.28
 Mean   :40.34   Mean   : 84.33
 3rd Qu.:48.00   3rd Qu.: 93.08
 Max.   :80.00   Max.   :170.83
 NA's   :1
[1] "1999 Women (2356 entries):"
      age          runTime
 Min.   :12.0   Min.   : 53.62
 1st Qu.:28.0   1st Qu.: 87.18
 Median :33.0   Median : 95.16
 Mean   :34.9   Mean   : 95.50
 3rd Qu.:41.0   3rd Qu.:103.85
 Max.   :81.0   Max.   :165.30
 NA's   :4
[1] "2000 Men (3016 entries):"
      age           runTime
 Min.   :11.00   Min.   : 46.10
 1st Qu.:32.00   1st Qu.: 74.77
 Median :40.00   Median : 83.22
 Mean   :40.41   Mean   : 83.61
 3rd Qu.:48.00   3rd Qu.: 92.15
 Max.   :79.00   Max.   :155.18
[1] "2000 Women (2166 entries):"
      age           runTime
 Min.   :14.00   Min.   : 55.83
 1st Qu.:29.00   1st Qu.: 85.74
 Median :34.00   Median : 93.42
 Mean   :35.55   Mean   : 93.91
 3rd Qu.:41.00   3rd Qu.:101.43
 Max.   :76.00   Max.   :167.72
[1] "2001 Men (3561 entries):"
      age           runTime
 Min.   : 0.00   Min.   :  1.50
 1st Qu.:32.00   1st Qu.: 75.32
 Median :39.00   Median : 84.15
 Mean   :40.28   Mean   : 84.50
 3rd Qu.:48.00   3rd Qu.: 93.15
 Max.   :80.00   Max.   :164.60
[1] "2001 Women (2972 entries):"
      age           runTime
 Min.   : 0.00   Min.   : 52.25
 1st Qu.:28.00   1st Qu.: 86.00
 Median :33.00   Median : 94.20
 Mean   :34.81   Mean   : 94.65
 3rd Qu.:41.00   3rd Qu.:102.49
 Max.   :83.00   Max.   :161.02
[1] "2002 Men (3723 entries):"
      age           runTime
 Min.   : 1.00   Min.   : 47.20
 1st Qu.:32.00   1st Qu.: 76.09
 Median :39.00   Median : 84.72
 Mean   :40.29   Mean   : 85.68
 3rd Qu.:48.00   3rd Qu.: 94.70
 Max.   :79.00   Max.   :150.15
 NA's   :2
[1] "2002 Women (3334 entries):"
      age           runTime
 Min.   :13.00   Min.   : 52.83
 1st Qu.:28.00   1st Qu.: 86.82
 Median :33.00   Median : 95.45
 Mean   :35.14   Mean   : 95.94
 3rd Qu.:41.00   3rd Qu.:103.88
 Max.   :84.00   Max.   :162.37
 NA's   :4
[1] "2003 Men (3946 entries):"
      age           runTime
 Min.   : 0.00   Min.   : 46.92
 1st Qu.:32.00   1st Qu.: 76.00
 Median :39.00   Median : 84.78
 Mean   :40.35   Mean   : 85.84
 3rd Qu.:48.00   3rd Qu.: 94.73
 Max.   :80.00   Max.   :146.28
[1] "2003 Women (3542 entries):"
      age           runTime
 Min.   :12.00   Min.   : 53.70
 1st Qu.:28.00   1st Qu.: 86.25
 Median :33.00   Median : 95.08
 Mean   :35.05   Mean   : 95.55
 3rd Qu.:41.00   3rd Qu.:103.89
 Max.   :85.00   Max.   :147.73
[1] "2004 Men (4156 entries):"
      age           runTime
 Min.   :13.00   Min.   : 48.20
 1st Qu.:31.00   1st Qu.: 76.57
 Median :38.00   Median : 85.88
 Mean   :39.31   Mean   : 86.44
 3rd Qu.:47.00   3rd Qu.: 95.22
 Max.   :81.00   Max.   :166.73
[1] "2004 Women (3899 entries):"
      age           runTime
 Min.   :13.00   Min.   : 52.10
 1st Qu.:27.00   1st Qu.: 87.41
 Median :32.00   Median : 95.68
 Mean   :33.93   Mean   : 96.78
 3rd Qu.:39.00   3rd Qu.:104.96
 Max.   :86.00   Max.   :177.52
[1] "2005 Men (4324 entries):"
      age           runTime
 Min.   :12.00   Min.   : 46.90
 1st Qu.:31.00   1st Qu.: 77.42
 Median :38.00   Median : 87.27
 Mean   :39.56   Mean   : 88.02
 3rd Qu.:47.00   3rd Qu.: 97.20
 Max.   :82.00   Max.   :175.60
 NA's   :10
[1] "2005 Women (4333 entries):"
      age           runTime
 Min.   :10.00   Min.   : 52.02
 1st Qu.:27.00   1st Qu.: 88.67
 Median :32.00   Median : 97.38
 Mean   :34.17   Mean   : 98.59
 3rd Qu.:40.00   3rd Qu.:107.00
 Max.   :87.00   Max.   :170.47
 NA's   :8
[1] "2006 Men (5235 entries):"
      age           runTime
 Min.   :13.00   Min.   :-116.07
 1st Qu.:30.00   1st Qu.:  78.08
 Median :38.00   Median :  87.25
 Mean   :38.91   Mean   :  88.12
 3rd Qu.:46.00   3rd Qu.:  97.28
 Max.   :82.00   Max.   : 167.08
[1] "2006 Women (5435 entries):"
      age           runTime
 Min.   :12.00   Min.   : 52.18
 1st Qu.:26.00   1st Qu.: 88.66
 Median :31.00   Median : 97.53
 Mean   :33.65   Mean   : 98.16
 3rd Qu.:39.00   3rd Qu.:106.72
 Max.   :76.00   Max.   :159.00
 NA's   :1
[1] "2007 Men (5252 entries):"
      age           runTime
 Min.   : 9.00   Min.   : 46.02
 1st Qu.:30.00   1st Qu.: 77.42
 Median :37.00   Median : 86.08
 Mean   :38.51   Mean   : 87.23
 3rd Qu.:46.00   3rd Qu.: 96.42
 Max.   :80.00   Max.   :165.60
 NA's   :3
[1] "2007 Women (5602 entries):"
      age           runTime
 Min.   :10.00   Min.   : 51.73
 1st Qu.:26.00   1st Qu.: 87.82
 Median :31.00   Median : 96.46
 Mean   :33.47   Mean   : 97.17
 3rd Qu.:39.00   3rd Qu.:105.55
 Max.   :77.00   Max.   :165.57
 NA's   :2
[1] "2008 Men (5905 entries):"
      age           runTime
 Min.   :12.00   Min.   : 46.23
 1st Qu.:29.00   1st Qu.: 77.68
 Median :36.00   Median : 87.48
 Mean   :37.79   Mean   : 88.25
 3rd Qu.:45.00   3rd Qu.: 97.70
 Max.   :84.00   Max.   :138.98
 NA's   :1
[1] "2008 Women (6397 entries):"
      age           runTime
 Min.   :11.00   Min.   : 54.35
 1st Qu.:26.00   1st Qu.: 89.60
 Median :31.00   Median : 98.38
 Mean   :33.21   Mean   : 98.77
 3rd Qu.:38.00   3rd Qu.:107.40
 Max.   :76.00   Max.   :139.23
[1] "2009 Men (6649 entries):"
      age           runTime
 Min.   :10.00   Min.   : 45.93
 1st Qu.:29.00   1st Qu.: 78.15
 Median :35.00   Median : 87.55
 Mean   :37.37   Mean   : 88.56
 3rd Qu.:44.00   3rd Qu.: 97.80
 Max.   :85.00   Max.   :154.37
[1] "2009 Women (8323 entries):"
      age           runTime
 Min.   : 7.00   Min.   : 53.53
 1st Qu.:26.00   1st Qu.: 89.30
 Median :31.00   Median : 98.25
 Mean   :33.08   Mean   : 98.81
 3rd Qu.:38.00   3rd Qu.:107.48
 Max.   :73.00   Max.   :153.47
 NA's   :2
[1] "2010 Men (6909 entries):"
      age           runTime
 Min.   :11.00   Min.   : 45.72
 1st Qu.:29.00   1st Qu.: 78.47
 Median :35.00   Median : 87.85
 Mean   :36.98   Mean   : 89.12
 3rd Qu.:44.00   3rd Qu.: 98.75
 Max.   :86.00   Max.   :154.12
 NA's   :4
[1] "2010 Women (8853 entries):"
      age          runTime
 Min.   :11.0   Min.   : 51.85
 1st Qu.:27.0   1st Qu.: 89.77
 Median :31.0   Median : 98.85
 Mean   :33.3   Mean   : 99.72
 3rd Qu.:39.0   3rd Qu.:108.82
 Max.   :75.0   Max.   :157.05
[1] "2011 Men (7011 entries):"
      age           runTime
 Min.   : 3.00   Min.   : 43.18
 1st Qu.:29.00   1st Qu.: 78.65
 Median :36.00   Median : 88.47
 Mean   :37.52   Mean   : 89.63
 3rd Qu.:44.00   3rd Qu.: 99.32
 Max.   :83.00   Max.   :148.70
[1] "2011 Women (9030 entries):"
      age           runTime
 Min.   :11.00   Min.   : 54.03
 1st Qu.:27.00   1st Qu.: 89.97
 Median :31.00   Median : 99.05
 Mean   :33.74   Mean   : 99.77
 3rd Qu.:39.00   3rd Qu.:108.93
 Max.   :76.00   Max.   :152.27
 NA's   :1
[1] "2012 Men (7193 entries):"
      age           runTime
 Min.   : 9.00   Min.   : 45.25
 1st Qu.:29.00   1st Qu.: 77.57
 Median :35.00   Median : 87.47
 Mean   :37.75   Mean   : 88.43
 3rd Qu.:45.00   3rd Qu.: 97.78
 Max.   :89.00   Max.   :150.98
 NA's   :1
[1] "2012 Women (9730 entries):"
      age           runTime
 Min.   :12.00   Min.   : 54.03
 1st Qu.:27.00   1st Qu.: 89.08
 Median :32.00   Median : 98.03
 Mean   :33.88   Mean   : 99.02
 3rd Qu.:39.00   3rd Qu.:107.90
 Max.   :75.00   Max.   :170.97

### Step 3 - Exploritory Data Analysis

Jodi will add stuff here.

## 5 Conclusion

### References
+ Nolan, D. and Lang, D. T. “Data Science in R.” CRC Press, 2015 (Chapter 1)
+ http://rdatasciencecases.org/
+ https://rstudio-pubs-static.s3.amazonaws.com/351788_b8d5de284dd645a1b920b7bd77e0967b.html

## 6 Appendix - Code

### 6.1 Process RAW Data

In [1]:
ubase = "http://www.cherryblossom.org/"

menURLs = 
  c("results/1999/cb99m.html", "results/2000/Cb003m.htm", "results/2001/oof_m.html",
    "results/2002/oofm.htm", "results/2003/CB03-M.HTM",
    "results/2004/men.htm", "results/2005/CB05-M.htm", 
    "results/2006/men.htm", "results/2007/men.htm", 
    "results/2008/men.htm", "results/2009/09cucb-M.htm",
    "results/2010/2010cucb10m-m.htm", 
    "results/2011/2011cucb10m-m.htm",
    "results/2012/2012cucb10m-m.htm")

womenURLs = 
  c("results/1999/cb99f.html", "results/2000/Cb003f.htm", "results/2001/oof_f.html",
    "results/2002/ooff.htm", "results/2003/CB03-F.HTM",
    "results/2004/women.htm", "results/2005/CB05-F.htm", 
    "results/2006/women.htm", "results/2007/women.htm", 
    "results/2008/women.htm", "results/2009/09cucb-F.htm",
    "results/2010/2010cucb10m-f.htm", 
    "results/2011/2011cucb10m-f.htm",
    "results/2012/2012cucb10m-f.htm")

urlsMen = paste(ubase, menURLs, sep = "")
urlsWomen = paste(ubase, womenURLs, sep = "")

In [2]:
library(XML)

extractResTable =
  #
  # Retrieve data from web site, 
  # find the preformatted text,
  # and write lines or return as a character vector.
  #
  function(url = "http://www.cherryblossom.org/results/1999/cb99m.html",
           year = 1999, sex = "male", file = NULL)
  {
    #added encoding for windows users who get an "A" symbol
    doc = htmlParse(url, encoding="UTF-8")

    if (year == 2000) {
      # Get preformatted text from 4th font element
      # The top file is ill formed so the <pre> search doesn't work.
      ff = getNodeSet(doc, "//font")
      txt = xmlValue(ff[[4]])
      els = strsplit(txt, "\r\n")[[1]]
    }
    else if (year == 2009 & sex == "male") {
      # Get preformatted text from <div class="Section1"> element
      # Each line of results is in a <pre> element
      div1 = getNodeSet(doc, "//div[@class='Section1']")
      pres = getNodeSet(div1[[1]], "//pre")
      els = sapply(pres, xmlValue)
    }
    else if (year == 1999){
      # Get preformatted text from <pre> elements
      pres = getNodeSet(doc, "//pre")
      txt = xmlValue(pres[[1]])
      els = strsplit(txt, "\n")[[1]]   
    } 
    else {
      # Get preformatted text from <pre> elements
      pres = getNodeSet(doc, "//pre")
      txt = xmlValue(pres[[1]])
      els = strsplit(txt, "\r\n")[[1]]   
    } 
    
    if (is.null(file)) return(els)
    # Write the lines as a text file.
    writeLines(els, con = file)
  }


years = 1999:2012
menTables = mapply(extractResTable, url = urlsMen, year = years)
names(menTables) = years
sapply(menTables, length)

womenTables = mapply(extractResTable, url = urlsWomen, 
                       year = years, sex = rep("female", 14))
names(womenTables) = years
sapply(womenTables, length)


save(menTables, file = "CBMenTextTables.rda")
save(womenTables, file = "CBWomenTextTables.rda")

Warning message:
"package 'XML' was built under R version 3.4.4"

1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012
3193 3019 3627 3727 3951 4164 4335 5245 5283 5913 6659 6919 7019 7201

1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012
2359 2169 2976 3338 3547 3907 4342 5445 5699 6405 8333 8863 9038 9738

In [3]:
# An's code for txt files...

load(file="CBMenTextTables.rda")
load(file="CBWomenTextTables.rda")

for (year in years){
 temp <- menTables[paste(year)]
 dir.create(file.path("MenTxt"), showWarnings = FALSE)
 write.table(data.frame(temp), file=paste("MenTxt/", year, ".txt", sep=""), sep="\t", row.names=FALSE)
 temp <- womenTables[paste(year)]
 dir.create(file.path("WomenTxt"), showWarnings = FALSE)
 write.table(data.frame(temp), file=paste("WomenTxt/", year, ".txt", sep=""), sep="\t", row.names=FALSE)
}

#### Beginning of 2.2 code from the text - Reading tables into R

In [4]:
findColLocs = function(spacerRow) {

  spaceLocs = gregexpr(" ", spacerRow)[[1]]
  rowLength = nchar(spacerRow)

  if (substring(spacerRow, rowLength, rowLength) != " ")
    return( c(0, spaceLocs, rowLength + 1))
  else return(c(0, spaceLocs))
}

selectCols = 
function(colNames, headerRow, searchLocs) 
{
  sapply(colNames, 
         function(name, headerRow, searchLocs)
         {
           startPos = regexpr(name, headerRow)[[1]]
           if (startPos == -1) 
             return( c(NA, NA) )
    
           index = sum(startPos >= searchLocs)
           c(searchLocs[index] + 1, searchLocs[index + 1])
         },
         headerRow = headerRow, searchLocs = searchLocs )
}

In [6]:
#First pass at function with women added yielded errors. Based on textbook,
#we need to edit the women 2001 file so that it has the "==" line.

extractVariables = 
  function(file, varNames =c("name", "home", "ag", "gun",
                             "net", "time"))
{
       # Find the index of the row with =s
  eqIndex = grep("\"=====", file)
       # Extract the two key rows and the data
  spacerRow = file[eqIndex] 
  headerRow = tolower(file[ eqIndex - 1 ])
  body = file[ -(1 : eqIndex) ]
      
         # Remove footnotes and blank rows
  footnotes = grep("^\"[[:blank:]]*(\\*|\\#)", body)
  if ( length(footnotes) > 0 ) body = body[ -footnotes ]
  blanks = grep("^\"[[:blank:]]*\"$", body)
  if (length(blanks) > 0 ) body = body[ -blanks ]
       
       # Obtain the starting and ending positions of variables
  searchLocs = findColLocs(spacerRow)
  locCols = selectCols(varNames, headerRow, searchLocs)

  Values = mapply(substr, list(body), start = locCols[1, ], 
                  stop = locCols[2, ])
  colnames(Values) = varNames
  
  invisible(Values)
}

mfilenames = paste("MenTxt/", 1999:2012, ".txt", sep = "")
menFiles = lapply(mfilenames, readLines)
names(menFiles) = 1999:2012

wfilenames = paste("WomenTxt/", 1999:2012, ".txt", sep = "")
womenFiles = lapply(wfilenames, readLines)
names(womenFiles) = 1999:2012
womenFiles[['2001']][3:4] = menFiles[['2001']][5:6]

menResMat = lapply(menFiles, extractVariables)

womenResMat = lapply(womenFiles, extractVariables)

In [7]:
#sanitycheck

sapply(menResMat, nrow)
sapply(womenResMat, nrow)

1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012
3190 3016 3561 3723 3946 4156 4324 5235 5274 5905 6649 6909 7011 7193

1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012
2356 2166 2972 3334 3542 3899 4333 5435 5690 6397 8323 8853 9030 9730

### 2.3 creating data frames of the information.

In [8]:
convertTime = function(time) {
  timePieces = strsplit(time, ":")
  timePieces = sapply(timePieces, as.numeric)
  sapply(timePieces, function(x) {
                      if (length(x) == 2) x[1] + x[2]/60
                      else 60*x[1] + x[2] + x[3]/60
                      })
}

createDF = function(Res, year, sex) 
{
  # Determine which time to use
  if ( !is.na(Res[1, 'net']) ) useTime = Res[ , 'net']
  else if ( !is.na(Res[1, 'gun']) ) useTime = Res[ , 'gun']
  else useTime = Res[ , 'time']
  
  # Remove # and * and blanks from time
  useTime = gsub("[#\\*\"[:blank:]]", "", useTime)
  
  
  # Drop rows with no time
  Res = Res[ useTime != "", ]
  runTime = convertTime(useTime[ useTime != "" ])
  
  Results = data.frame(year = rep(year, nrow(Res)),
                       sex = rep(sex, nrow(Res)),
                       name = Res[ , 'name'], home = Res[ , 'home'],
                       age = as.numeric(Res[, 'ag']), 
                       runTime = runTime,
                       stringsAsFactors = FALSE)
  invisible(Results)
}

In [9]:
menResMat[['2006']][,"home"] = gsub("[0-9, :]", "", menResMat[['2006']][,"home"])
menResMat[['2006']][,"net"] = gsub("[A-Za-z\\s]", "", menResMat[['2006']][,"net"])

menDF = mapply(createDF, menResMat, year = 1999:2012,
               sex = rep("M", 14), SIMPLIFY = FALSE)

Warning message in data.frame(year = rep(year, nrow(Res)), sex = rep(sex, nrow(Res)), :
"NAs introduced by coercion"

In [10]:
# Women function 
womenResMat[['2006']][,"home"] = gsub("[0-9, :]", "", womenResMat[['2006']][,"home"])
womenResMat[['2006']][,"net"] = gsub("[A-Za-z\\s]", "", womenResMat[['2006']][,"net"])

womenDF = mapply(createDF, womenResMat, year = 1999:2012,
                 sex = rep("W", 14), SIMPLIFY = FALSE)

Warning message in data.frame(year = rep(year, nrow(Res)), sex = rep(sex, nrow(Res)), :
"NAs introduced by coercion"Warning message in data.frame(year = rep(year, nrow(Res)), sex = rep(sex, nrow(Res)), :
"NAs introduced by coercion"

In [11]:
#combine men and women data frames into two separate dataframe and save.
cbMen = do.call(rbind, menDF)
save(cbMen, file = "cbMen.rda")
cbWomen = do.call(rbind, womenDF)
save(cbWomen, file = "cbWomen.rda")